<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/lms_layout">
<head>
<title>index</title>
<!-- <th:block layout:fragment="css"> -->
<!-- 	<link rel="stylesheet" th:href="@{/css/class.css}"> -->
<!-- </th:block> -->
<!-- <th:block layout:fragment="script"> -->
<!-- 	<script type="text/javascript" th:src="@{/js/class.js}"></script> -->
<!-- </th:block> -->
</head>

<body>
	<div layout:fragment="content">
		<div class="ui four column grid left aligned"
			style="background-color: #F5F6F7">
			<div></div>
			<div class="three wide column"
				style="margin-top: 50px; background-color: #F5F6F7">
				<div class="ui vertical menu" style="margin-bottom: 20px;">
					<a class="item" href="schoolMain"> 자바대학교 홈페이지 </a> <a class="item"
						href="shoppingAboutus"> <i class="grid layout icon"></i>
						자바대학교 쇼핑몰
					</a> <a class="item" href="professorLoginUp"> 자바대학교 LMS </a>
					<div class="ui dropdown item">
						수강정보 <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" href="classInsert"><i class="edit icon"></i>
								강의등록</a> <a class="item" href="classAdminListGo"><i
								class="globe icon"></i> 강의관리</a> <a class="item"
								href="classRegistrationAdminPageGo"><i class="globe icon"></i>
								수강신청관리</a> <a class="item" href="classRegistrationGo"><i
								class="globe icon"></i> 수강신청</a> <a class="item"
								href="ClassPreRegistrationGo"><i class="globe icon"></i>
								수강바구니</a> <a class="item" href="myclassFinalList"><i
								class="globe icon"></i> 수강이력조회</a> <a class="item"
								href="classSearchList"><i class="globe icon"></i> 강의조회</a> <a
								class="item" href="classSearchListGo"><i
								class="settings icon"></i> 수강신청안내</a>
						</div>
					</div>
					<div class="ui dropdown item">
						예약 <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" href="reservationPageGo"><i class="edit icon"></i>
								도서관 예약</a> <a class="item" href="spaceReservationPageGo"><i
								class="globe icon"></i> 스터디룸 예약</a> <a class="item"
								href="myReservationPageGo"><i class="globe icon"></i> 내 예약</a>
						</div>
					</div>
					<div class="ui dropdown item">
						교수 <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" href="professorjoin"><i class="edit icon"></i>
								교수 등록</a> <a class="item" href="professorlist"><i
								class="globe icon"></i> 교수 리스트</a> <a class="item"
								th:href="tbclassprojoin"><i class="globe icon"></i> 교수 수업등록</a>
						</div>
					</div>
				</div>
			</div>
			<div class="two wide column center aligned" ></div>
			<!-- 컨텐트 -->	
			
			<div class="five wide column center aligned" style="background-color: #F5F6F7; padding:60px 0px">
			<h2 class="ui header">
				<strong>강의관리</strong>
			</h2>
			<div class="ui icon message" id="successmessage"
				style="display: none; text-align: center;">
				<i class="notched circle loading icon"></i>
				<div class="content">
					<div class="header" id="resultmessage">삭제되었습니다.</div>
				</div>
			</div>
			<table id="classAdminListexample" class="display nowrap"
				style="width: 100% !important;">
				<thead>
					<tr style="text-align: center">
						<th>강의번호</th>
						<th>학과번호</th>
						<th>수업이름</th>
						<th>수업타입</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="classtb : ${classtbs}" style="cursor: pointer;">
						<td th:text="${classtb.class_no}" th:value="${classtb.class_no}"></td>
						<td th:text="${classtb.department_no}"></td>
						<td th:text="${classtb.class_name}"></td>
						<td th:text="${classtb.class_type}"></td>
						<td>
						<a th:href="@{classAdminUpdateGo(class_no=${classtb.class_no})}">
								<i class="edit outline icon primary black" title="update"></i>
						</a>
						</td>
						<td><i class="trash alternate outline icon red"
							title="delete" id="classAdminDeleteBtn"></i></td>
					</tr>
				</tbody>
			</table>
			<div class="ui mini classDelete modal">오후 12:33 2021-03-30
				<div class="classmodal header">강의삭제</div>
				<div class="classmodal content">
					<p>삭제 하시겠습니까?</p>
				</div>
				<div class="actions">
					<button type="button" class="ui red button" id="classDeleteOkBtn">확인</button>
					<div class="ui cancel button" id="classDeleteCancelBtn">취소</div>
				</div>
			</div>
			<div class="ui noncancel tiny modal">
				<div class="header">삭제중단</div>
				<div class="content">
					<p>이 강의에 대한 성적데이터가 있어</p>
					<p>삭제가 어렵습니다. 성적데이터 삭제후</p>
					<p>다시 시도해주세요</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>