<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/school_layout">
<div layout:fragment="school_content">
	<form class="ui large form" method="POST" action="boardWriteSave" enctype="multipart/form-data"
            data-parsley-validate="true">
	<div class="ui grid center aligned">
		<div class="five wide column">
		</div>
		<div class="five wide column">
		
			<div class="field center aligned" style="margin-top:30px">
				<h3> 게시판123 </h3>
			</div>
		
			<div class="field">
				<div class="fluid ui left icon input">
					<i class="id card outline icon"></i>
					<input type="text" name="b_name" placeholder="닉네임을 입력하세요">
				</div>
			</div>
			
			<div class="field">
				<div class="fluid ui left icon input">
					<i class="clipboard outline icon"></i>
					<input type="text" name="b_title" placeholder="글 제목을 입력하세요">
				</div>
			</div>


			<div class="field">
				<div class="ui labeled input">
					<div class="ui label">
						<i class="paperclip icon attachbtn"></i>
					</div>
					<input type="file" id="b_attach" name="b_attachfile"
						style="display: none"> <input type="text"
						name="b_attachname" class="b_attachname" placeholder="첨부파일">
				</div>
			</div>


			<div class="field">
                <div class="fluid ui left icon input" style="height:150px">
                     <textarea rows="8" placeholder="내용" name="b_content"></textarea>
                </div>
            </div>
			
			<div class="field" style="margin-top:70px">
				<span><button type="submit" class="ui primary basic button" style="width:48%">저장</button></span>
				<span><button type="button" class="ui negative  basic button" onclick="location.href='index'" style="width:48%">취소</button></span>
			</div>
			
		</div>
		<div class="five wide column">
		</div>
		
		<div class="ui modal">
			<div class="header">Header</div>
			<div class="image content">
				<img class="image">
				<div class="description">
					<p></p>
				</div>
			</div>
		</div>
		
	</div>
</form>		
</div>
</body>
</html>