<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/school_layout">
<div layout:fragment="school_content">
	<form class="ui large form" method="POST" action="boardUpdateSave"
		enctype="multipart/form-data" data-parsley-validate="true">
		<div class="ui sixteen wide grid center aligned"
			style="background-color: #F3F3F3;">
<!-- 			<input type="hidden" name="b_seq" id="hidden_seq" -->
<!-- 				th:value="${board.b_seq}"> -->
			<h2 style="margin-bottom:40px">학과게시판</h2>
		</div>
		<div class="ui grid center aligned"
			style="background-color: #F3F3F3;">
			<div class="ui stacked segment"  style="width: 60%; margin-bottom:50px">

		<table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>글번호</th>
                <th>글제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
              <tr class="block" th:each="board : ${boards}"
                        style="text-align: center">
                        <td th:text="${board.b_seq}"></td>
                        <td th:text="${board.b_name}"></td>
                        <td><span th:if="${board.b_step gt 0}"> 
                        <img src="/images/reply.png" style="width: 20px; height: 20px;">
                        </span> <a th:href="@{boardDetail(b_seq=${board.b_seq})}">
                        <span th:text="${board.b_title}"></span></a></td>
                        <td th:text="${board.b_inputtime}"></td>
                        <td th:text="${board.b_hit}"></td>
                     </tr>

			</tbody>
		</table>
		</div>
		</div>
		</form>
</div>
</html>
