<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/school_layout">
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/board.js}"></script>
</th:block>
<div layout:fragment="school_content">
	<form class="ui large form" method="POST" action="boardCommentSave"
		enctype="multipart/form-data" data-parsley-validate="true">
		<div class="ui sixteen wide grid center aligned"
			style="background-color: #F3F3F3;">
			<input type="hidden" name="b_seq" id="hidden_seq"
				th:value="${board.b_seq}">
			<h2 style="margin-bottom: 40px">학과게시판</h2>
		</div>
		<div class="ui grid center aligned" style="background-color: #F3F3F3;">
			<div class="ui stacked segment"
				style="width: 60%; margin-bottom: 50px">

				<div class="ui vertical stripe quote segment">
					<div class="ui equal width stackable internally grid"
						style="padding: 0px 0px">
						<div class="column">
							<p style="text-align: left" th:text="${board.b_title}"></p>
						</div>
						<div class="column">
							<p style="text-align: right; margin: 0 auto;"
								th:text="'작성일: '+${board.b_inputtime}"></p>
						</div>
					</div>
				</div>
				<div class="ui vertical stripe quote segment">
					<div class="ui equal width stackable internally grid"
						style="padding: 0px 0px">
						<div class="column">
							<p style="text-align: left" th:text="${board.b_name}"></p>
						</div>
						<div class="column">
							<p style="text-align: right; margin: 0 auto;"
						th:text="'조회수: '+${board.b_hit}"></p>
						</div>
					</div>
				</div>




				<div class="field">
					<div class="fluid ui left icon input" style="height: 200px">
						<div style="margin-top: 1%" th:text="${board.b_content}"></div>
					</div>
				</div>
				<div class="ui grid center aligned">
					<div class="ui olive labeled submit icon button"
					onclick="location.href='boardPageList';">
						<i class="icon bars"></i> 게시판 목록
					</div>
					<a th:href="@{boardUpdate(b_seq=${board.b_seq})}">
						<div th:if="${session.sessionMember_name}+'&nbsp'+학우님 == ${board.b_name}"
							class="ui green labeled submit icon button">
							<i class="icon edit"></i> 글 수정
						</div>
					</a>
					<div
						th:if="${session.sessionMember_name}+'&nbsp'+학우님 == ${board.b_name}"
						class="ui teal labeled submit icon button" id="boardDeleteBtn">
						<i class="icon eraser"></i> 글 삭제
					</div>
				</div>
				<h3 class="ui dividing fluid header">
					댓글(<span th:text="${commentCount}"></span>)
				</h3>
				<div class="ui comments">
					<div class="comment" th:each="comment : ${comments}">
						<a class="avatar"> <img src="/images/gom.jpg">
						</a>
						<div class="content">
							<a class="author" th:text="${comment.comment_name}"></a>
							<div class="metadata">
								<span class="date" th:text="${comment.comment_inputtime}"></span>
							</div>
							<div class="text" th:text="${comment.comment_content}"></div>
							<div class="actions">
								<!-- 								<a class="reply">Reply</a> -->
							</div>
						</div>
					</div>
				</div>
				<form class="ui reply form">
					<div class="field">
						<input type="hidden" class="ui  dividing header"
							name="comment_name" th:if="${session.sessionMember_name} !=null"
							th:value="${session.sessionMember_name}+'&nbsp'+님" readonly>

						<textarea style="height: 10px; width: 85%; margin-bottom: 20px"
							name="comment_content" id="comment_content"></textarea>
						<button type="submit" class="ui blue labeled submit icon button"
							style="margin-left: 10px; height: 110px;">
							<i class="icon edit" style="text-align: middle; display: block"></i>
							<span
								style="position: relative; padding: 10; line-height: 20px; display: block; text-align: center;">댓글<br>등록
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</form>
	<div class="ui mini boardDeleteAjax modal">
		<div class="header">삭제</div>
		<div class="content">
			<p>삭제하시겠습니까?</p>
		</div>
		<div class="actions">
			<div class="ui red button" id="boardDeleteOkBtn">삭제</div>
			<div class="ui cancel button">취소</div>
		</div>
	</div>
</div>

</body>
</html>