<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/school_layout">
<div layout:fragment="school_content">
	<form class="ui large form" action="findListBoard"
		name="findListformname" method="POST" enctype="multipart/form-data"
		data-parsley-validate="true">
		<img src="images/schoolboardbanner.png" style="width: 100%">
		<div class="ui grid center aligned">
			<div class="twelve wide column">
				<div class="block">
					<div class="field center aligned" style="margin-top: 30px;">
						<h3>학과 게시판</h3>
					</div>
				</div>
				<div class="fluid" style="text-align: right;">
					<span><a href="boardWrite"
						style="color: #000000; font-size: 8px">글 작성</a></span>
				</div>
				<div class="field center aligned" style="margin-bottom:20px">
					<table class="ui celled table">
						<thead>
							<tr style="text-align: center">
								<th>글번호</th>
								<th>작성자</th>
								<th>제목</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody>
							<tr class="block" th:each="board : ${boards}"
								style="text-align: center">
								<td th:text="${board.b_seq}"></td>
								<td th:text="${board.b_name}"></td>
								<td><span th:if="${board.b_step gt 0}"> <img
										src="/images/reply.png" style="width: 20px; height: 20px;">
								</span> <a th:href="@{boardDetail(b_seq=${board.b_seq})}"><span
										th:text="${board.b_title}"></span></a></td>
								<td th:text="${board.b_hit}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
</html>


