<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
	<script src="/js/aiappproject.js"></script>	
	<script
		src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
		referrerpolicy="origin"></script>
</head>
<body>
<div layout:fragment="content">
<form class="ui large form" method="POST" action="replyWriteSave" enctype="multipart/form-data"
            data-parsley-validate="true">
	<div class="ui grid center aligned">
		<div class="five wide column">
		</div>
		<div class="five wide column">
		
			<div class="field center aligned" style="margin-top:30px">
				<h3> 답글 </h3>
				<input type="hidden" name="b_ref" th:value="${board.b_ref}">
			</div>
		
			<div class="field">
				<div class="fluid ui left icon input">
					<i class="mail icon"></i>
					<input type="email" id="email" name="b_email" placeholder="email"  readonly="readonly"
					th:value="${session.sessionemail}">
				</div>
			</div>
		
			<div class="field">
				<div class="fluid ui left icon input">
					<i class="id card outline icon"></i>
					<input type="text" name="b_name" class="meminsertfocus" readonly="readonly"
					th:value="${session.sessionname}">
				</div>
			</div>
			
			<div class="field">
				<div class="fluid ui left icon input">
					<i class="clipboard outline icon"></i>
					<input type="text" name="b_title" th:value="${board.b_title}" placeholder="글 제목을 입력하세요" readonly="readonly">
				</div>
			</div>


			<div class="field">
				<div class="ui labeled input">
					<div class="ui label">
						<span>첨부</span>
					</div>
					<div style="width:40%; padding:10px">
					<!-- <input type="file" id="b_attach" name="b_attachfile"
						style="display: none"> <input type="text"
						name="b_attachname" class="b_attachname" placeholder="첨부파일"> -->
						<span th:if="${board.b_attach != null}"> 
							<a th:href="@{fileDownload(b_attach=${board.b_attach})}"> 
								<i class="paperclip icon"></i>
							</a>
						</span>
					</div>
					<div class="ui label">
						<span>조회수</span>
					</div>
					<input type="text" th:value="${board.b_hit}">
				</div>
			</div>


			<div class="field">
                <div class="fluid ui left icon input" style="height:150px">
                     <textarea rows="8" placeholder="글 내용을 입력하세요" name="b_content" th:text="${board.b_content}"></textarea>
                </div>
            </div>
			
			<div class="field" style="margin-top:70px">
				<span><button type="button" class="ui primary basic button" style="width:48%" onclick="history.back(-1);"><i class="List icon"></i>글목록</button></span>
				<span th:if="${session.sessionemail == board.b_email}"><button type="submit" class="ui primary basic button">Save</button></span>
				<span th:if="${session.sessionlevel le 3 || session.email==board.b_email}"><button type="button" onclick="history.back(-1);" class="ui primary basic button">Delete</button></span>
			</div>
			
		</div>
		<div class="five wide column">
		</div>
		
		<div class="ui modal">
			<div class="header">Header</div>
			<div class="image content">
				<img class="image">
				<div class="description">
					<p></p>
				</div>
			</div>
		</div>
		
	</div>
</form>		
</div>
</body>
</html>

