<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/manage_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="ui four column grid left aligned"
			style="background-color: #F5F6F7">
			<div class="one wide column" style="background-color: #F5F6F7">
				<div></div>
			</div>
			<div class="sixteen wide column"
				style="background-color: #F5F6F7; margin-top: 50px;">
				<div class="field" style="margin-bottom: 40px">
					<h2 class="ui  left aligned header">
						<strong style="margin-left: 2%;">1:1 문의 답변</strong>
					</h2>
					<div class="ui section divider" style="margin-top: 15px;"></div>
				</div>
				<div class="field center aligned"
					style="magin: 0 auto; margin-top: 10px;">
					<table class="ui single line table" id="answerListTable">
						<thead>
							<tr style="text-align: center">
								<th>고객아이디</th>
								<th>문의상품번호</th>
								<th>문의내용<th>
									<th>날짜</th>
									<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="qna : ${qnas}" style="text-align: center">
								<td th:text="${qna.member_id}"></td>
								<td th:text="${qna.g_seq}"></td>
								<td th:text="${qna.qna_content}"></td>
								<td th:text="${qna.date}"></td>
								<td>
									<button class="ui black button" id="answerGoBtn" type="button">답변하기</button>
									<span class="ui gray button" id="answerCompleteBtn" style="display:none; width:100%;">답변완료</span>
								</td>
								<td style="display:none" th:text="${qna.seq}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<form class="ui large form" id="answerAjaxForm">
		<div class="ui tiny answer modal">
			<div class="header">문의답변</div>
			<div class="content">
				<textarea style="height: 100%; width: 100%;"
						name="qna_content" id="qna_content"></textarea>
			</div>
			<div class="actions">
				<div class="ui primary button" id="answerInsertBtn">답변저장</div>
				<div class="ui cancel button">취소</div>
			</div>
			
		</div>
		</form>
	</div>
</body>
</html>
