<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/shopping_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/shopping.js}"></script>
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<form class="ui large form" id="goodsDetailform" method="POST"
			enctype="multipart/form-data" data-parsley-validate="true"
			style="background-color: #F3F3F3; margin-top: 15px;">
			<div class="ui sixteen wide column grid center aligned"
				style="background-color: #FFFFFF;">
				<div class="one wide column"></div>
				<div class="six wide column">
					<!-- 						<div class="fluid ui input" style="width: 500px; margin-top: 50px"> -->
					<!-- 							<img th:src="${goods.g_attach}"> -->
					<!-- Swiper -->
					<div class="fluid ui swiper-container"
						style="width: 500px; height: 500px">
						<div class="swiper-wrapper">
							<div class="swiper-slide" style="width: 500px; height: 500px">
								<img th:src="${goods.g_attach}" style="width: 500px">
							</div>
							<div class="swiper-slide" style="width: 500px; height: 500px">
								<img src="images/xjawmffj2.png"
									style="width: 500px; height: 500px">
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
				<div class="one wide column"></div>
				<div class="six wide column"
					style="height: 550px; text-align: left;">
					<div th:text="${goods.g_seq}"
						style="font-size: 25px; font: bold; margin-bottom: 25px; margin-top: 50px;"></div>
					<input type="hidden" name="g_seq" th:value="${goods.g_seq}">
					<div th:text="${goods.g_title}" id="goodstitleDetail"
						style="font-size: 25px; font: bold; margin-bottom: 25px; margin-top: 50px;"></div>
					<div th:text="${goods.g_price}+원"
						style="font-size: 18px; margin-bottom: 20px"></div>
					<hr align="left">
					<div th:text="${goods.g_content}"
						style="font-size: 14px; margin-top: 20px; margin-bottom: 20px"></div>
					<div class="ui segment" style="background-color: #F8F8F8;">
						<p>수량</p>
						<hr align="left">

						<Input type="number" min="0" max="99" id="qtyInputProdetail" name="qty" value="1"
							style="width: 100px;" /><span th:text="${#numbers.formatDecimal(goods.g_price, 0, 'COMMA', 0, 'POINT')}+원"

							style="display: right; font-size: 18px; float: right;"></span>
					</div>
					<input type="hidden" id="priceHiddenDetail"
						th:value="${goods.g_price}" name="price">
					<div style="margin-top: 30px; margin-bottom: 30px;">
						<span id="detailTotalQty" th:text="상품금액"></span><span
							id="goodsDetailTotalPrice" th:text="${goods.g_price}+원"
							style="text-align: center; font-size: 18px; float: right;"></span>
					</div>
					<button class="ui button" type="button" id="shoppingPaiging">Follow</button>
					<div class="ui vertical animated button" tabindex="0"
						style="background-color: #FFFFFF; border: 1px solid;">
						<div class="visible content">장바구니</div>
						<div class="hidden content" id="detailCartGo">
							<i class="shopping cart icon"></i>
						</div>
					</div>
					<div class="ui animated fade button" tabindex="0"
						style="background-color: #FFFFFF; border: 1px solid;">
						<div class="visible content">찜하기</div>
						<div class="hidden content">
							<i class="heart icon"></i>
						</div>
					</div>
				</div>
				<div class="ui mini goodsdetailCart modal">
					<div class="content">
						<p>장바구니에 담겼습니다 장바구니로 이동하시겠습니까?</p>
					</div>
					<div class="actions">
						<div class="ui primary button" id="cartGoBtn">예</div>
						<div class="ui cancel button">아니요</div>
					</div>
				</div>
			</div>
			<div class="ui sixteen wide column">
				<div class="ui five wide column" style="text-align: center;">
					<div class="ui three item menu">
						<a class="item active" id="goodinfobtn"> 상품설명 </a> <a class="item" id="goodreviewbtn"> 후기 </a> <a
							class="item" id="goodqnabtn"> Q&A </a>
					</div>
				</div>
				

				<div class="ui five wide column" style="text-align: center; ">
					<div id="goodsinfo" th:text="${goods.g_info}"></div>
					
				<div class="field" id="goodsreview" style="display: none;">
				<div class="field" style="float: left; width: 50%;">
					<img src="/images/library2-2.png"
						style="width: 100%; height: 400px; border-radius: 10px 100px / 120px;">
				</div>
				<div class="ui text container"
					style="padding: 15px; width: 48%; height: 400px; float: right;">
					<h3 class="ui dividing header">
						<strong>제 1 열람실</strong>
					</h3>
					<p>국립중앙도서관은 국가 지식정보자원의 보고로서 1945년 개관한 이래, 국내에서 발행된 출판물과 각종
						지식정보를 망라적으로 수집하고 이를 체계적으로 정리하여 제공하고 있습니다.</p>
					<p>또한 변화하는 시대에 맞춰 종이 매체에서 온라인 자료에 이르기까지 풍부한 장서를 구축하고 있으며, 다양한
						국민의 수요에 맞춰 누구나 손쉽게 자료를 이용할 수 있도록 지식문화유산 이용 서비스의 고도화 실현을 위해 노력하고
						있습니다.</p>
					<p>국립중앙도서관은 '지식정보가 국가 발전의 중요한 자원'이라는 신념을 가지고 개개인의 창의성으로 이루어 낸
						지적성취가 오늘날의 첨단지식 정보와 어우러져 '살아 있는 정보'로 활용되도록 더욱더 노력하겠습니다.</p>
					<div class="field">
						<h2 class="ui dividing header"
							style="height: 66px; padding: 10px;">
							<button class="ui black button" style="width:30%" id="studyroomReservationGoBtn">자리예약</button>
						</h2>
					</div>
				</div>
			</div>
					<div id="goodsqna" style="display:none"> INFO 6268 --- [  restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 9031 (http) with context path ''
2021-03-30 14:20:48.045  INFO 6268 --- [  restartedMain] com.kakao.kitkat.MsprojectApplication    : Started MsprojectApplication in 0.585 seconds (JVM running for 10049.715)
2021-03-30 14:20:48.047  INFO 6268 --- [  restartedMain] .ConditionEvaluationDeltaLoggingListener : Condition evaluation unchanged
2021-03-30 14:20:50.811  INFO 6268 --- [nio-9031-exec-1] o.a.c.c.C.[Tomcat-1].[localhost].[/]     : Initializing Spring DispatcherServlet 'dispatcherServlet'
2021-03-30 14:20:50.811  INFO 6268 --- [nio-9031-exec-1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet</div>
					<div></div>
				</div>
			</div>
		</form>
	</div>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Initialize Swiper -->
	<script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>
</html>