<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/shopping_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<body>
	<div layout:fragment="content">
		<div class="ui center aligned grid"
			style="margin: 40px 0px 0px 0px !important; width: 100%; height: 900px;">
			<div class="column"
				style="max-width: 90% !important; padding: 0 20px 0 20px;">
				<div class="field" style="margin-bottom: 40px">
					<h1 class="ui  left aligned header">
						<strong style="margin-left: 2%;">상품</strong>
					</h1>
					<div class="ui section divider" style="margin-top: 15px;"></div>
				</div>

				<div class="ui link  cards" style="margin-left: 2%;">
					<a th:each="goods,index : ${goodses}">
						<div class="ui card" style="margin: 15px; width: 22%;"
							th:if="${index.index} % 2 ==0">
							<!-- <div class="ui slide masked reveal image" th:each="attachs : ${attachs}" th:if="${attachs.g_seq}==${goods.g_seq}">
								<img id="imgcss" th:if="${#strings.contains(${attachs.g_attach},'-0')}" th:src="${attachs.g_attach}"> 
								<img th:unless="${#strings.contains(${attachs.g_attach},'-0')}"
									th:src="${attachs.g_attach}" class="hidden content">
							</div> -->
							<div class="image">
								<img id="imgcss" th:src="${goods.g_attach}">
							</div>
							<div class="content">
								<a class="header"
									th:href="@{goodsDetail2(g_seq=${goods.g_seq})}"> <span
									th:text="${goods.g_title}"></span>
								</a>
							</div>
							<div class="extra content">
								<span class="date"
									th:text="${#numbers.formatDecimal(goods.g_price, 0, 'COMMA', 0, 'POINT')}+원"></span>
							</div>
						</div>
						<div class="ui card"
							style="margin: 15px; width: 22%; margin-top: 3%; margin-bottom: 0;"
							th:unless="${index.index} % 2 ==0">
							<div class="image">
								<img id="imgcss" th:src="${goods.g_attach}">
							</div>
							<div class="content">
								<a class="header"
									th:href="@{goodsDetail2(g_seq=${goods.g_seq})}"> <span
									th:text="${goods.g_title}"></span>
								</a>
							</div>
							<div class="extra content">
								<span class="date"
									th:text="${#numbers.formatDecimal(goods.g_price, 0, 'COMMA', 0, 'POINT')}+원"></span>
							</div>
						</div>
					</a>

				</div>
			</div>
		</div>
	</div>

</body>
</html>

