<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/manage_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="ui four column grid left aligned"
			style="background-color: #F5F6F7">
			<div class="one wide column" style="background-color: #F5F6F7">
				<div></div>
			</div>
			<div class="three wide column"
				style="margin-top: 50px; background-color: #F5F6F7"></div>
			<div class="sixteen wide column"
				style="background-color: #F5F6F7; margin-top: 50px;">
				<div class="ui secondary pointing menu">
					<a class="item"> 신규취소 </a> <a class="item"> 취소요청 </a> <a
						class="item active"> 취소처리중 </a> <a class="item"> 취소처리실패 </a> <a
						class="item"> 취소완료 </a>
					<div class="right menu"></div>
				</div>
				<div class="ui segment">
					<p></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

