<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/manage_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="ui sixteen wide grid center aligned"
			style="background-color: #F5F6F7;">
			<!-- 			<input type="hidden" name="b_seq" id="hidden_seq" -->
			<!-- 				th:value="${board.b_seq}"> -->
			<h2 style="margin-bottom: 40px; margin-top: 4%">상품관리</h2>
		</div>
		<div class="ui grid center aligned" style="background-color: #F5F6F7;">
			<div class="ui stacked segment"
				style="width: 80%; margin-bottom: 50px">


				<table class="ui orange padded table">
					<thead>
						<tr>
							<th class="single line" style="text-align: center;">No</th>
							<th style="text-align: left">상품명</th>
							<th style="text-align: right">판매가</th>
							<th style="width: 5px">상태</th>
							<th style="text-align: center">재고</th>
						</tr>
					</thead>
					<tbody>
						<tr class="block" th:each="goods : ${goodses}"
							style="text-align: center; height: 50px;">
							<td><label
								th:text="${goods.g_seq}"></label></td>
							<td style="text-align: left"><img th:src="${goods.g_attach}"
								style="width: 30px; text-align: left;"
								th:text="${goods.g_title}"></td>
							<td style="text-align: right"
								th:text="${#numbers.formatDecimal(goods.g_price, 0, 'COMMA', 0, 'POINT')}+원"></td>
							<td style="text-align: left" ><select class="ui dropdown" >
									<option value="1" th:unless="${goods.g_qty}<=0">판매중</option>
									<option value="0" th:if="${goods.g_qty}==0">품절</option>
							</select></td>
							<td style="text-align: center" th:text="${goods.g_qty}"></td>
						</tr>
					</tbody>
					<tfoot>

						<tr>

							<th colspan="5">
								<button class="ui button"
									style="background-color: #000000; color: #FFFFFF;"
									onclick="location.href='goodsWrite'">상품등록</button>
								<div class="ui right floated pagination menu">
									<a class="icon item"> <i class="left chevron icon"></i>
									</a> <span th:each="page : ${pages}"> <a
										th:href="@{boardPageSelect(page=${page})}" class="item"> <span
											th:text="${page}"></span>
									</a>
									</span> <a class="icon item"> <i class="right chevron icon"></i>
									</a>
								</div>
							</th>
						</tr>
					</tfoot>
				</table>

			</div>
		</div>
	</div>
</body>
</html>

