<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/manage_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="ui four column grid left aligned"
			style="background-color: #F5F6F7">
			<div class="one wide column" style="background-color: #F5F6F7">
				<div></div>
			</div>

			<div class="sixteen wide column"
				style="background-color: #F5F6F7; margin-top: 50px;">
				<div class="field center aligned" style="margin-top: 30px;">
					<div class="field" style="margin-top: 10px">
						<button class="ui button"
							style="background-color: #000000; color: #FFFFFF;"
							onclick="location.href='goodsWrite'">상품등록</button>
						<div class="ui icon input">
							<input type="text" name="find" placeholder="Search..."
								th:value="${find}"> <a href="#"
								onclick="findListformname.submit()" style="padding: 10px;"><i
								class="search icon"></i></a>
						</div>
					</div>
					<table class="ui celled padded table" style="text-align: center">
						<thead>
							<tr>
								<th class="single line">상품번호</th>
								<th>사진</th>
								<th>상품명</th>
								<th>가격</th>
								<th>상품설명</th>
								<th>재고</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="goods : ${goodses}" style="text-align: center">
								<td th:text="${goods.g_seq}">
								<td><img th:src="${goods.g_attach}" style="width: 90px"></td>
								<td th:text="${goods.g_title}"></td>
								<td th:text="${#numbers.formatDecimal(goods.g_price, 0, 'COMMA', 0, 'POINT')}+원"></td>
								<td style="text-align: left" th:text="${goods.g_content}"></td>
								<td style="text-align: left" th:text="${goods.g_content}"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td th:each="page : ${pages}"
									style="margin-top: 10px; display: inline-block; right:align;">
									[<a th:href="@{manageGoodsList(page=${page})}"><span
										th:text="${page}"></span></a> ]
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

