<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/manage_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="ui four column grid left aligned"
			style="background-color: #F5F6F7">
			<div class="one wide column" style="background-color: #F5F6F7">
				<div></div>
			</div>
			<div class="sixteen wide column"
				style="background-color: #F5F6F7;">
				<h2 class="ui  left aligned header">
						<strong style="margin-left: 2%;">주문관리</strong>
					</h2>
					<div class="ui section divider" style="margin-top: 15px;"></div>



					<table id="example" class="ui celled table" style="width: 100%">
						<thead>
							<tr>
								<th class="single line" style="text-align: center;">주문번호/시각</th>
								<th style="text-align: center">주문상품</th>
								<th style="text-align: right">상품금액</th>
								<th style="width: 5px">수량</th>
								<th style="text-align: center">상태</th>
								<th style="text-align: center">운송장번호</th>
								<th style="text-align: center">배송</th>
								<th style="text-align: center">배송정보</th>
								<th style="text-align: center">결제내역</th>
							</tr>
						</thead>
						<tbody>
							<tr class="block" th:each="orders : ${orderses}" style="text-align: center; height: 50px;">
								<td th:text="${orders.orders_date}"></td>
								<td th:text="${orders.orders_seq}"></td>
								<td th:text="${#numbers.formatDecimal(orders.orders_total, 0, 'COMMA', 0, 'POINT')}"></td>
								<td th:text="${orders.orders_qty}"></td>
								<td>배송준비중</td>
								<td><select class="ui dropdown">
										<option value="1">대한통운</option>
										<option value="0">우체국</option>
								</select></td>
								<td>택배 무료</td>
								<td th:text="${orders.orders_name}+${orders.orders_address}"></td>
								<td th:text="${#numbers.formatDecimal(orders.orders_total, 0, 'COMMA', 0, 'POINT')}"></td>

							</tr>
						</tbody>
						<tfoot>

							<tr>

								<th colspan="9">
									<button class="ui button"
										style="background-color: #000000; color: #FFFFFF;"
										onclick="location.href='goodsWrite'">상품등록</button>
									<div class="ui right floated pagination menu">
										<a class="icon item"> <i class="left chevron icon"></i>
										</a> <span th:each="page : ${pages}"> <a
											th:href="@{boardPageSelect(page=${page})}" class="item">
												<span th:text="${page}"></span>
										</a>
										</span> <a class="icon item"> <i class="right chevron icon"></i>
										</a>
									</div>
								</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

