<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/shopping_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body layout:fragment="content">
	<div class="ui four column grid center aligned"
		style="background-color: #F5F6F7;">
		<div class="one wide column" style="background-color: #F5F6F7">
			<div></div>
		</div>
		<div class="ten wide column"
			style="background-color: #F5F6F7; margin-top: 50px;">
			<h2 style="margin-bottom:50px">주문상품정보</h2>
			<div id="mypageInfoBox">

				<div class="ui sixteen wide column grid left aligned">
					<div class="ui four wide column grid left aligned">
						<img src="images/123.png" style="margin-left: 20px; width: 170px">
					</div>
					<div class="ui ten wide column grid left aligned"
						style="margin-top: 5%">
						<div class="ui text" style="font-size: 26px"
							th:text="${session.sessionMember_name}+'님 안녕하세요'" readonly></div>
						<div style="margin-top: 3%;">누적 구매금액: 0원</div>
					</div>
					
				</div>
				
			</div>
			
			<div th:each="myOrder : ${myOrders}">
			
						<div class="row">
							<div class="white column">
							</div>
							</div>
				<div class="ui equal width sixteen wide column padded grid" style="height:20px">
					<div class="row">
							<div class="white left align column" style="text-align:left;">
							주문번호 <span th:text="${myOrder.orders_date}"></span>
							</div>
							<div class="white column" style="text-align:right; margin-right:4%">
							주문일자 <span th:text="${myOrder.orders_date}"></span>
							</div>
							</div>
				</div>
				
				<div id="mypageListBox">
					<div
						class="ui equal width ten wide column center aligned padded grid">
						<div class="row">
							<div class="white column">
								<img style="width: 50px; height: 50px"
									th:src="${myOrder.g_attach}">
							</div>
							<div class="white left aligned column"
								style="width: 60%; margin-top: 1%">
								<div th:text="${myOrder.g_title}"></div>
								<td th:text="${myOrder.orders_qty}"></td>개/
								<td th:text="${myOrder.orders_total}"></td>원
							</div>
							<div class="white column" style="margin-top: 2%">배송중</div>
							<div class="white column">
								<button class="ui black button">후기작성</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

