<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/shopping_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
		<form class="ui large form" method="GET" enctype="multipart/form-data"
			data-parsley-validate="true" style="background-color: #F3F3F3">
			<div class="ui grid center aligned">
				<div class="sixteen wide column">
					<div
						style="font-size: 20px; height: 100px; margin-left: auto; margin-right: auto; padding: 50px 0px;">결제가
						완료되었습니다</div>
					<div
						style="font-size: 20px; height: 100px; margin-left: auto; margin-right: auto; padding: -20px 0px;">주문배송은
						마이페이지에서 조회 가능합니다</div>

					<div class="ui sixteen wide column grid center aligned">
						<div class="ui six wide column grid center aligned">
							<div class="ui equal width center aligned padded grid" style="background-color:white">
								<div class="row">
									<div class="ui column left aligned"  style="font-size: 15px; color: gray; font-family: Helvetica, sans-serif;">주문번호</div>
									<div class="ui column left aligned"  th:text="${ord.orders_contact}"></div>
								</div>
								<hr style="width:100%; color:gray;">
								<div class="row">
									<div class="ui column left aligned" style="font-size: 15px; color: gray; font-family: Helvetica, sans-serif;">결제정보</div>
									<div class="ui column left aligned">무료결제</div>
								</div>
								<hr style="width:100%; color:gray;">
								<div class="row">
									<div class="ui column left aligned" style="font-size: 15px; color: gray; font-family: Helvetica, sans-serif;">결제금액</div>
									<div class="ui column left aligned" th:text="${#numbers.formatDecimal(ord.g_total, 0, 'COMMA', 0, 'POINT')}+원"th:value="${ord.g_total}"></div>
								</div>
									<hr style="width:100%; background-color:white;">
									<button class="field gray ui button" style="width:250px; color: white; height: 50px" onclick="location.href='shoppingAboutus'">홈으로</button>
									<button class="field black ui button" style="width:250px; color: white; height: 50px">마이페이지</button>
								</div>
							</div>
						
					</div>

				</div>
			</div>
	</form>
	</div>
</body>
</html>

