<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.lang}"
	th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/shopping_layout">
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/shopping.css}">
</th:block>
<script src="/js/aiappproject.js"></script>
<script
	src="https://cdn.tiny.cloud/1/1in9hzsqug5gwpl0vwku0rsdmw8w2equelp9j08kmfa49lxw/tinymce/5/tinymce.min.js"
	referrerpolicy="origin"></script>
</head>
<body>
	<div layout:fragment="content">
	<form class="ui large form" id="Complete" method="post" action="paymentComplete" enctype="multipart/form-data" data-parsley-validate="true" style="background-color: #F3F3F3">
	<input type="hidden"  name="g_seq" id="g_seq" th:value="${goods.g_seq}">	
			<div class="ui one wide column grid center aligned" style="margin-top:15px;">
				<div style="font-size: 30px; padding: 60px 0px;">결제하기</div>
			</div>
			<div class="ui sixteen wide column grid center aligned">
				<div class="ui one wide column grid center aligned"></div>
				<div class="ui six wide column grid left aligned">
					<div id="box1">
						<div id="boxtitle">주문상품정보</div>
						<div class="ui ten wide column grid left aligned">
							<div class="ui four wide column grid left aligned">
								<img th:src="${goods.g_attach}" style="width: 120px">
							</div>
							<div class="ui five wide column grid left aligned">
								<div th:text="${goods.g_title}" ></div>
								<div style="font-size: 13px; color: gray; margin-top: 5px">
								</div>
								<div style="font-size: 13px; color: gray; margin-top: 5px">
								<input type="hidden" name="g_price" th:value="${goods.g_price}" id="g_pricehidden">
								<div  id="g_price"  th:text="${#numbers.formatDecimal(goods.g_price, 0, 'COMMA', 0, 'POINT')}+원"></div>
								<input type="hidden" name="g_total" th:value="${goods.g_total}" id="g_total" >
								<input type="hidden" name="g_delivery" id="g_delivery" th:value="${goods.g_delivery}" >
								<input type="hidden" name="g_pay">
								<input type="hidden" name="g_delivery">
								<input type="hidden" name="member_id">
								
								</div>
							</div>
						</div>
					</div>
					<div id="box1">
						<div id="boxtitle">주문자정보</div>
						<form class="ui form">
							<div class="field">
								<input type="text" id="name1" placeholder="이름" style="width: 245px" required="required"> 
								<input type="text" name="phone" id="phone1" placeholder="연락처" style="width: 245px" required="required">
								<input type="email" name="email" placeholder="이메일" style="width: 495px; margin-top: 5px">
							</div>
						</form>
					</div>
					<div id="box3">
						<div id="boxtitle">배송지정보</div>

						<div class="ui checkbox">
							<input type="checkbox" name="example" onclick="test01()"> <label>주문자정보와동일</label>
						</div>
						<div class="segment">
							<div class="field" style="margin-top: 5px;">
								<input type="text" name="orders_name" id="name2" placeholder="수령인"
									style="width: 245px"> <input type="text"
									name="last-name" id="phone2" placeholder="연락처" style="width: 245px">
								<input type="text" name="orders_zipcode"  id="zipcode" placeholder="우편번호"
									style="width: 180px; margin-top: 5px">
								<button class="ui button" type="button"
									style="width: 100px; color: white; margin-left: 5px; margin-top: 5px" onclick="zipcodeFindB()">주소찾기</button>
								<input type="text" name="orders_address1" placeholder="주소"
									style="width: 495px; margin-top: 5px" id="addr1"> <input
									type="text" name="orders_address2"  id="addr2" placeholder="상세주소"
									style="width: 495px; margin-top: 5px">
							</div>
						</div>
						<div style="margin-top: 50px">배송메모</div>
						<div class="ui selection dropdown">
							<input type="hidden" name="gender"> <i
								class="dropdown icon"></i>
							<div class="default text" style="width: 445px;">배송메모를
								선택해주세요</div>
							<div class="menu">
								<div class="item" data-value="1">배송전에 어쩌고</div>
								<div class="item" data-value="0">경비실 어쩌고</div>
							</div>
						</div>
					</div>

				</div>



				<div class="ui four wide column grid left aligned" >
					<div id="box2" >
						<div id="boxtitle">최종 결제금액</div>
						<div style="float: right;" id="final_price" th:text="${#numbers.formatDecimal(goods.g_total, 0, 'COMMA', 0, 'POINT')}+원"  th:value="${goods.g_total}"></div>
						<div style="font-size: 13px; width:100%; word-break:break-all;word-wrap:break-word;   color: gray;"> 상품가격</div>
						<div style="float: right;">2,500원</div>
						<div style="font-size: 13px; width:100%; word-break:break-all;word-wrap:break-word; color: gray;">배송비</div>
						<hr align="left">
						<div style="float: right;"id="total_money"  th:text="${#numbers.formatDecimal(goods.g_total+goods.g_delivery, 0, 'COMMA', 0, 'POINT')}+원" ></div>
						<div style="font-size: 15px;" id="countupdown" th:text="|총결제금액(${goods.g_qty})개|"></div>
						<input type="hidden" th:value="${goods.g_qty}" name="orders_qty">
						
						
					</div>
					<div id="box2" style="height: 100px;">
						<div id="boxtitle">결제방법</div>
					</div>
					<div id="box2">
						<div class="ui allCheck"
						style="padding: 10px 0px; margin-top: 20px" >
							<input type="checkbox" id="goodsallCheck" required="required"> <label>전체
								동의</label>
						</div>
						<div class="ui checkbox" style="padding: 10px 6px;">
							<input type="checkbox" class="chBox" > <label>개인정보
								수집 및 어쩌고</label>
						</div>
						<div class="ui checkbox" style="padding: 10px 6px;">
							<input type="checkbox" class="chBox" > <label>구매조건확인
								및 어쩌고</label>
						</div>

					</div>
					<button class="fluid black ui button" id="completebtn"
						style="width: 300px; color: white; height: 80px" type="submit">결제하기</button>
				</div>
			</div>
			<div class="ui three wide column grid center aligned"></div>
		</form>
		</div>
</body>
</html>