<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="leftmenu">
	<div class="ui four column grid left aligned">
		<div class="three wide column"
			style="margin-top: 50px; background-color: #F5F6F7">
			<div class="ui vertical menu" style="margin-bottom: 20px;">
				<a class="item" href="schoolMain"> 자바대학교 홈페이지 </a> <a class="item"
					href="shoppingAboutus"> <i class="grid layout icon"></i> 자바대학교
					쇼핑몰
				</a> <a class="item" href="professorLoginUp"> 자바대학교 LMS </a>
				<div class="ui dropdown item">
					수강정보 <i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="classInsert" th:if="${session.sessionlevel} == p"> <i class="edit icon"></i>강의등록</a> 
						<a class="item" href="classAdminListGo" th:if="${session.sessionlevel} == p"><i class="globe icon"></i>강의관리</a> 
						<a class="item" href="classRegistrationAdminPageGo" th:if="${session.sessionlevel} == a"><i class="globe icon"></i>수강신청관리</a> 
						<a class="item" href="classRegistrationGo" th:if="${session.sessionlevel} == s"><i class="globe icon"></i>수강신청</a> 
						<a class="item" href="ClassPreRegistrationGo" th:if="${session.sessionlevel} == s"><i class="globe icon"></i>수강바구니</a> 
						<a class="item" href="myclassFinalList" th:if="${session.sessionlevel} == s"><i class="globe icon"></i> 수강이력조회</a> 
						<a class="item" href="classSearchList" th:if="${session.sessionlevel} == s"><i class="globe icon"></i> 강의조회</a> 
						<a class="item" href="classSearchListGo" th:if="${session.sessionlevel} == s"><i class="settings icon"></i> 수강신청안내</a>
					</div>
				</div>
				<div class="ui dropdown item">
					예약 <i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="reservationPageGo"><i class="edit icon"></i>
							도서관 예약</a> <a class="item" href="spaceReservationPageGo"><i
							class="globe icon"></i> 스터디룸 예약</a> <a class="item"
							href="myReservationPageGo"><i class="globe icon"></i> 내 예약</a>
					</div>
				</div>
				<div class="ui dropdown item" th:if="${session.sessionlevel} == a">
					교수 <i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="professorjoin"><i class="edit icon"></i>
							교수 등록</a> <a class="item" href="professorlist"><i
							class="globe icon"></i> 교수 리스트</a> <a class="item"
							th:href="tbclassprojoin"><i class="globe icon"></i> 교수 수업등록</a>
					</div>
				</div>
			</div>
		</div>
		<div class="two wide column center aligned"></div>
	</div>
</body>
</html>