<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="footer">
	<div class="ui center aligned container" >
		<div class="ui stackable inverted divided grid">
			<div class="two wide column">
			<img src="images/javalogoman.png" style="margin-top:10px; margin-right:20px">
			</div>
			<div class="four wide column">
			
				<h4 class="ui inverted header" >Developers</h4>
				<div class="ui inverted link list">
					<span href="#" class="item">임혜수 / 김진영 / 윤지우 / 조민서</span> 
				</div>
			</div>
			<div class="ten wide column">
				<h4 class="ui inverted header" style="text-align:left;">찾아오시는 길</h4>
				<div style="color: #989BA2; text-align:left;">(주)솔루션테크 / 아이티스쿨정보기술교육원 l 대전광역시 서구
					계룡로 636, 7층(용문동, 도산빌딩)</div>
				<div style="color:#989BA2; text-align:left;">Copyright © 2002 (주)솔루션테크 / 아이티스쿨정보기술교육원 All Rights
					Reserved.</div>
			</div>
		</div>
	</div>
</body>
</html>