<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="header">
	<span style="background-color: #F5F6F7; font-size: 20px; font-weight: bold; padding: 1% 2% 1% 2% !important;" onclick="location.href='professorLoginUp';">자바대학교 학사관리시스템</span>
	<div class="ui text right aligned container" style="margin-right:5px !important;"
		th:unless="${session.sessionMember_id==null}">
		<div class="ui container">
			<div class="ui inline dropdown" style="padding:1% 2% 0.1% 2%;">
				<img class="left floated mini ui image" src="/images/ggom.png">
				<span style="color: white;"
					th:if="${session.sessionProfessor_name} !=null"
					th:text="${session.sessionProfessor_name}"></span><i
					class="dropdown icon"></i> <span
					th:if="${session.sessionStudent_name} !=null"
					th:text="${session.sessionStudent_name}"></span><i
					class="dropdown icon"></i>
				<div class="menu">
					<div class="item" onclick="location.href='professorUpdate'">
						정보수정</div>
					<div class="item" onclick="location.href='tbclassupdateRow'">
						수업수정</div>
					<div class="item" id="proclassUpdatePage"
						onclick="location.href='gradesearch'">학생조회</div>
					<div class="item" id="proclassUpdatePage"
						onclick="location.href='logout'">로그아웃</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>