<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="header">
	<span style="margin-left: 3%; padding: 0.5% 0% 0.5% 0%;">
	<img src="images/school.png" style="width:47px; height:47px;">
	</span>
	<span
		style=" color: #0A4E80; font-size: 20px; font-weight: bold; padding: 1.5% 1% 1.5% 0% !important;"
		onclick="location.href='lmsHome';">자바대학교</span>
	<span style="font-size: 17px; font-weight: bold; padding: 1.5% 1% 1.5% 0% !important;">학사관리 시스템</span>
	<div class="ui text middle aligned right aligned container"
		style="margin-right: 5px !important;"
		th:unless="${session.sessionMember_id==null}">
		<div class="ui container" style="padding: 3% 2% 3% 2%;">
			<div class="ui inline dropdown">
				<h4 style="margin: 0px;"
					th:if="${session.sessionMember_name} !=null"
					th:text="${session.sessionMember_name}"></h4>
				<div th:if=" ${session.sessionMember_name} !=null" class="menu">
					<div class="item" onclick="location.href='professorUpdate'">
						정보수정</div>
					<div class="item" onclick="location.href='tbclassupdateRow'">
						수업수정</div>
					<div class="item" id="proclassUpdatePage"
						onclick="location.href='gradesearch'">학생조회</div>

				</div>

			</div>
			<i th:if=" ${session.sessionMember_name} !=null"
				class="dropdown icon"></i>
		</div>
		<div style="padding: 2% 1% 2% 1%;">
			<div class="ui black button" id="proclassUpdatePage"
				onclick="location.href='logout'">logout</div>
		</div>
	</div>
</body>
</html>