<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="header">
<div style="color:white; font-size:20px; font-weight:bold;margin-top:6px; margin-left:10px;" onclick="location.href='professorLoginUp';">자바대학교 학사관리시스템</div>
	<div th:unless="${session.sessionMember_id==null}">
		<div class="ui text right aligned container" style=" position: absolute;
        right: 10px;">

			<div class="ui inline dropdown" style="margin-top:5px;">
				<img class="left floated mini ui image" src="/images/ggom.png">
				<span style="color:white;"th:text="${session.sessionProfessor_name}"></span><i class="dropdown icon" ></i>
				<div class="menu">
					<div class="item" onclick="location.href='professorUpdate'">
						정보수정</div>
					<div class="item" onclick="location.href='tbclassupdateRow'">
						수업수정</div>
					<div class="item" id="proclassUpdatePage"
						onclick="location.href='gradesearch'">학생조회</div>
					<div class="item" id="proclassUpdatePage"
						onclick="location.href='logout'">로그아웃</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>