<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="shopping_header">

	<div class="ui text container" style="padding: 0 auto;">
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='schoolMain';">
				학교홈페이지 </button>
		</div>
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='shoppingAboutus';">
				회사소개 </button>
		</div>
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='goodsPageList';">
				전체상품 </button>
		</div>
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;">후기</button>
		</div>
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='goodsCartGo';">장바구니</button>
		</div>
	</div>
</body>
</html>