<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="shopping_header">

	<div class="ui text container">
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='schoolMain';">
				학교홈페이지 </button>
		</div>
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='shoppingAboutus';">
				쇼핑몰소개 </button>
		</div>
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='goodsPageList';">
				전체상품 </button>
		</div>
		
		<div class="header item">
			<button class="ui button"
				style="color: #FFFFFF; background-color: black;"
				onclick="location.href='goodsMypageGo';">마이페이지</button>
		</div>
	</div>
</body>
</html>