<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="shopping_header">

	<div class="ui text container" style="padding: 0 120px;">
		<div class="header item">
			<a class="link" style="color:#ffffff;"  onclick="location.href='schoolMain';">학교홈페이지 </a> 
		</div>
		<div class="header item"  >
			<a class="link" style="color:#ffffff;"  onclick="location.href='shoppingAboutus';">회사소개 </a> 
		</div>
		<div class="header item">
			<a class="link" style="color:#ffffff;"  onclick="location.href='goodsPageList';"> 전체상품 </a>
		</div>
		<div class="header item">
			<a class="link" style="color:#ffffff;" >후기  </a>
		</div>
		<div class="header item">
			<a class="link" style="color:#ffffff;" onclick="location.href='goodsCartGo';" >장바구니 </a>
		</div>
	</div>
</body>
</html>