.swiper-container {
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 90px;
	height: 1000px;
	width: 1000px;
	background: #dc3545;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#aboutusTitle {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 900;
	padding: 40px 0px;
}

#aboutusContent {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	padding: 0px 0px;
}

#boxtitle {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 900;
	padding: 20px 0px;
}

#payement_title {
	font-size: 30px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 0px;
}

#mypageMenu {
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
}

#mypageInfoBox {
	background-color: white;
	width: 900px;
	height: 180px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
}

#mypageListBox {
	background-color: white;
	width: 900px;
	height: 80px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
	margin-top: 15px;
	
}
#goodsInsertBox1 {
	background-color: white;
	width: 48%;
	height: 300px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
	margin:0 auto;
	text-align: left;
}

#goodsInsertBox2 {
	background-color: white;
	width: 98%;
	height: 350px;
	font-family: Helvetica, sans-serif;
	margin-top: 2%;
	margin-bottom: 15px;
	text-align: left;
}


#box1 {
	background-color: white;
	width: 530px;
	height: 180px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
}

#box2 {
	background-color: white;
	width: 300px;
	height: 150px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
}

#box3 {
	background-color: white;
	width: 530px;
	height: 500px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
}


#paymentcompletebox {
	background-color: white;
	width: 400px;
	height: 200px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 15px;
}

.masthead.segment {
	min-height: 900px;
	padding: 1em 0em;
}

.masthead .logo.item img {
	margin-right: 1em;
}

.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

.dragAndDropDiv {
	border: 2px dashed #92AAB0;
	width: 650px;
	height: 100px;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px 10px 10px;
	font-size: 200%;
	display: table-cell;
}

.progressBar {
	width: 150px;
	height: 22px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 10px 5px 5px;
	vertical-align: top;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px;
	/* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0ba1b5;
	border-radius: 3px;
}

.statusbar {
	border-top: 1px solid #A9CCD1;
	min-height: 25px;
	width: 99%;
	padding: 10px 10px 0px 10px;
	vertical-align: top;
}

.statusbar:nth-child(odd) {
	background: #EBEFF0;
}

.filename {
	display: inline-block;
	vertical-align: top;
	width: 250px;
}

.filesize {
	display: inline-block;
	vertical-align: top;
	color: #30693D;
	width: 100px;
	margin-left: 10px;
	margin-right: 5px;
}

.abort {
	background-color: #A8352F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	cursor: pointer;
	vertical-align: top
}

#imgcss{
	width:100%; 
	height:250px;
}