<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/lms_layout">
<body>
	<div layout:fragment="content">
		<div class="ui middle aligned center aligned grid">
			<div  class="column" style="max-width: 90% !important; margin-top: 0px; margin-bottom:7em;">
				<div id="slideIndex" style="padding:30px;">
					<img  style="width: 450px; height: 450px; border-radius: 10% 30% 50% 70%;"class="ui medium left floated image" src="images/lms_index1.png">
					<p style="font-size:22px;">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. 
					Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, 
					condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum 
					orci,eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
					<img  style="width: 400px; height: 400px; border-radius: 30% 10% 70% 50%;"class="ui medium right floated image" src="images/lms_index2.png">
					<p style="font-size:20px;">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. 
					Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, 
					condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum 
					orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
					<img  style="width: 450px; height: 450px; border-radius: 10% 30% 50% 70%;"class="ui medium left floated image" src="images/lms_index3.png">
					<img  style="width: 650px; height: 450px; margin-top:20px; border-radius: 50% 20% / 10% 40%;"class="ui medium right floated image" src="images/lms_index4.png">
				</div>
			</div>
		</div>
	</div>
</body>
</html>